{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog !</h1>

    <p>sbmoinqbmnbn,fbdlkn,ùpnb,ùp,nmblwdf bMLBfsbmoinqbmnbn,fbdlkn,ùpnb,ùp,
    nmblwdf bMLBfsbmoinqbmnbn,fbdlkn,ùpnb,ùp,nmblwdf bMLBfsbmoinqb
    mnbn,fbdlkn,ùpnb,ùp,nmblwdf bMLBfsbmoinqbmnbn,fbdlkn,ùpnb,ùp,nmblwdf bMLBf
    sbmoinqbmnbn,fbdlkn,ùpnb,ùp,nmblwdf bMLBfsbmoinqbmnbn,fbdlkn,ùpnb,ùp,
    nmblwdf bMLBfsbmoinqbmnbn,fbdlkn,ùpnb,ùp,nmblwdf bMLBfsbmoinqb
    mnbn,fbdlkn,ùpnb,ùp,nmblwdf bMLBfsbmoinqbmnbn,fbdlkn,ùpnb,ùp,nmblwdf bMLBf</p>

{% endblock %}
